body {
   margin: 10;
    padding: 10;
    background-color: rgb(117, 219, 194);


}
#parte1{
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: blanchedalmond;
}

#icon{
    width: 300px;
    height: 200px;
}