body {
    margin: 0;
    padding: 0;
    background-color: #f4f6fb; 
    display: flex;
    justify-content: center;
    padding-top: 40px;
}


#parte1 {
    width: 100px;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.area-robo {
    background: linear-gradient(135deg, rgb(21, 88, 100), rgb(117, 219, 194));
    padding: 20px;
    border-radius: 20px;
}


#imagem {
    width: 150px;  
    height: 90px;
}


.escrita {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 40px;
    padding: 10px 25px;
    background-color: rgb(21, 88, 100);
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}