body {
   margin: 10;
    padding: 10;
    background-color: rgb(117, 219, 194);


}
#parte1{
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    color: blanchedalmond;
}

.escrita{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 40px;
    align-items: center;
    padding-bottom: 0,5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    background-color: rgb(6, 36, 172);
    color: rgb(255, 255, 255);
}

#icon{
    width: 300px;
    height: 200px;
}